{% load number_filters %}
{% for d in recent_shiwake %}
    <tr>
        <td class="date-col">{{ d.date|date:"Y/m/d" }}</td>
        <td class="denp-no">{{ d.denpyo_no }}</td>
        <td class="text-col">{{ d.meisai.all.0.kamoku.name }}</td>
        <td class="amount amount-positive">{{ d.meisai.all.0.kingaku|format_number }}</td>
        <td class="text-col">{{ d.meisai.all.1.kamoku.name }}</td>
        <td class="amount amount-negative">{{ d.meisai.all.1.kingaku|format_number }}</td>
        <td class="description-col">{{ d.memo }}</td>
    </tr>
{% empty %}
    <tr>
        <td colspan="7" class="text-center">
            <i class="fa-solid fa-inbox text-2xl mb-2 mx-2 block"></i>
            データがありません
        </td>
    </tr>
{% endfor %}
