<div class="dropdown dropdown-end print:hidden">
    <label tabindex="0" class="btn-export">
        <i class="fa-solid fa-download"></i>エクスポート
    </label>
    <ul tabindex="-1"
        class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
        <li>
            <button onclick="window.print()" class="gap-2">
                <i class="fa-solid fa-print text-success"></i>印刷
            </button>
        </li>
        <li>
            <a href="{{ csv_url }}" class="gap-2">
                <i class="fa-solid fa-file-csv text-success"></i>CSV ダウンロード
            </a>
        </li>
        <li>
            <a href="{{ excel_url }}" class="gap-2">
                <i class="fa-solid fa-file-excel text-success"></i>Excel ダウンロード
            </a>
        </li>
    </ul>
</div>
